.header {
  @include e(container) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  @include e(search) {
    position: relative;
  }
}
.search {
  @include e(input) {
    max-width: 100%;
  }

  @include e(modal) {
    right: 0;
    top: 50px;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
  }
}
